<%- include('../includes/head') %>

</head>

<body>
    <%- include('../includes/nav') %>
    <main class="centered">
        <h1> <%= product.title %></h1>
        <hr>
        <div>
            <img src="<%= product.imageURL %>" alt="<%= product.imageURL %>">
        </div>
        <h1><%= product.description %></h1>
        <h1>$<%= product.price %></h1>
        <!-- you can also add a dynamic segment for post requests -->
        <!-- you don't pass product variable because it is not in loop, it is globally variable -->
        <%- include('../includes/add-to-cart')%>
    </main>
    <%- include('../includes/end') %>